.card {
    height: auto;
}
.card-title {
    height:40px;
}
.card-image {
    height: 125px;
    position: relative !important;
}
.images{
    max-height: 230px;
    min-height: 125px;
}
.card-content {
    margin-top: 80px;
    height: auto;
}
.links {
    margin: 0 !important;
}

html {
    height:100%
}