.card {
    min-height: 500px;
    background-color:#334A51;
}
.card-title {
    height: 40px;
    color: white;
}
.card-image {
    height: 75px;
    position: relative !important;
}
.images{
    height: 150px;
    width: 100%;
}
.card-content {
    margin-top: 70px;
    color: white;
}

.card-action{
    margin-bottom: 0px;
}

.links {
    margin: 0 !important;
}

html {
    height:100%
}