.card {
    min-height: 600px;
    background-color:#334A51;
    margin: 20px
}
.title{
    font-weight: bold;
}
.card-title {
    height: 40px;
    padding-top: 10px;
    color: #96B0B7;
}
.card-image {
    height: 125px;
    position: relative !important;
}
.images{
    height: 200px;
    width: 100%;
}
.card-content {
    margin-top: 70px;
    color: #96B0B7;
}

.card-action{
    margin-bottom: 0px;
}

.links {
    margin: 0 !important;
}

html {
    height:100%
}